<?xml version="1.0"?>

<?if $(sys.BUILDARCH)="x86"?>
    <?define Program_Files="ProgramFilesFolder"?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Program_Files="ProgramFiles64Folder"?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <Product Id="*" UpgradeCode="4641175c-6f66-4b0a-8f1a-940ee711444f"
      Name="fzf-win"
      Version="1.0.0"
      Manufacturer="Joaquin Cortez"
      Language="1033" >

      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"
         InstallScope="perMachine" />

      <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

      <Upgrade Id="4641175c-6f66-4b0a-8f1a-940ee711444f">
         <UpgradeVersion Minimum="1.0.0" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
         <UpgradeVersion Minimum="0.0.0" Maximum="1.0.0" IncludeMinimum="yes" IncludeMaximum="no"
            Property="OLDERVERSIONBEINGUPGRADED" />
      </Upgrade>
      <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

      <Directory Id="TARGETDIR" Name="SourceDir">

         <Directory Id="$(var.Program_Files)">
            <Directory Id="INSTALLDIR" Name="fzf-win">

               <Component Id="MAINFILES" Guid="f412773b-228a-49f1-8c10-be0ed568cad8">
                  <File Id="fd.cmd" Source="src\fd.cmd" />
                  <File Id="ff.cmd" Source="src\ff.cmd" />
                  <File Id="fl.cmd" Source="src\fl.cmd" />
               </Component>

               <Directory Id="UTILSDIR" Name="utils">
                  <Component Id="UTILSFILES" Guid="c10a4634-1c25-455a-823c-95dc727b2cf8">
                     <File Id="fd.cfg" Source="src\utils\fd.cfg" />
                     <File Id="ff.cfg" Source="src\utils\ff.cfg" />
                     <File Id="fl.cfg" Source="src\utils\fl.cfg" />
                     <File Id="fzf_win.cfg" Source="src\utils\fzf-win.cfg" />
                     <File Id="fzf_win.cmd" Source="src\utils\fzf-win.cmd" />
                     <File Id="logger.cmd" Source="src\utils\logger.cmd" />
                  </Component>
               </Directory>
            </Directory>
         </Directory>


         <Component Id="ENVS" Guid="323aec44-7d56-43f7-a920-42606710dd2d">

            <Environment Id="ENV0"
               Name="PATH"
               Value="[INSTALLDIR]"
               Permanent="no"
               Part="last"
               Action="set"
               System="no" />

         </Component>

      </Directory>


      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallValidate" />


      </InstallExecuteSequence>

      <Feature Id="DefaultFeature" Level="1">

         <ComponentRef Id="ENVS" />

         <ComponentRef Id="MAINFILES" />
         <ComponentRef Id="UTILSFILES" />

      </Feature>

      <UI>
         <!-- Define the installer UI -->
         <UIRef Id="WixUI_HK" />
      </UI>

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

      <!-- this should help to propagate env var changes -->
      <CustomActionRef Id="WixBroadcastEnvironmentChange" />

   </Product>

</Wix>